<div class="body">
    <div class="container">
        <br><br><br><br><br><br><br><br>
        <div class="p">
            <div class="msn">

                <h1>!Muchas Gracias
                    <br>
                    por tu Doncación¡
                </h1>
                <span class="material-icons">
                    sentiment_satisfied_alt
                </span>
                <br>
                <a href={{ruta}}>
                    <button type="button" class="btn btn-success">DonaTree</button>
                </a>
            </div>
        </div>
        </div>
    </div>

</div>